<mat-card class="dashboard-card">
                <mat-card-header>
                  <mat-card-title>
                     Login
                  </mat-card-title>
                </mat-card-header>
                     <mat-card-content class="dashboard-card-content">
                        <form class="example-form">
              
                            <mat-form-field  appearance="fill" class="example-full-width">
                              <mat-label>Correo</mat-label>
                              <input type="email" matInput [formControl]="emailFormControl" placeholder="ejemplo: hola@gmail.com">
                              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Correo inválido
                              </mat-error>

                              <mat-error *ngIf="emailFormControl.hasError('required')">
                                Correo es requerido
                              </mat-error>
                            </mat-form-field>
            
                            <mat-form-field  appearance="fill" class="example-full-width">
                                <mat-label>Contraseña</mat-label>
                                <input type="password" matInput [formControl]="passFormControl" placeholder="minimo 4 caracteres">
                                <mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
                                  Contraseña Inválida
                                </mat-error>

                                <mat-error *ngIf="passFormControl.hasError('required')">
                                  Contraseña es requerida
                                </mat-error>
                              </mat-form-field>
                             

                              
                               <mat-grid-list cols="1" rowHeight="30px">
                                <mat-grid-tile>
                                    <button mat-raised-button color="primary">Enviar</button>
                                 </mat-grid-tile>
                               </mat-grid-list>
                          
                        </form>
                    </mat-card-content>
</mat-card>

